// 去除文件名的example后缀才可取用
{
  "component": "simbot.qqguild",
  "ticket": {
    "appId": "appId-placeholder",
    "secret": "secret-placeholder",
    "token": "token-placeholder"
  },
  "config": {
    "intents": {
      "type": "nameBased",
      "names": ["GroupAndC2CEvent"]
    }
  }
}
